In [3]:
# part one - basics
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
session = SparkSession.builder.appName('Practice').getOrCreate()

22/10/21 16:56:55 WARN Utils: Your hostname, Ksawerys-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.19 instead (on interface en0)
22/10/21 16:56:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/21 16:56:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
session

In [7]:
path_to_file:str = 'data/data1.csv'
df = session.read.csv(path_to_file)

how to read with columns?

In [8]:
df = session.read.option('header', 'true').csv(path_to_file)

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

getting first n rows using head

In [10]:
df.head(5)

[Row(OFFER_ID='783573846', AREA_IN_M2='56.7', PRICE='2000.0', FEES='500.0', DATE='2022-10-20', FLOOR='3.0', DISTRICT='łazarz', FURNISHED='1.0', DEVELOPMENT_TYPE='Kamienica', NUMBER_OF_ROOMS='2.0'),
 Row(OFFER_ID='699182179', AREA_IN_M2='32.0', PRICE='1900.0', FEES='600.0', DATE='2022-10-20', FLOOR='1.0', DISTRICT='naramowice', FURNISHED='1.0', DEVELOPMENT_TYPE='Blok', NUMBER_OF_ROOMS='1.0'),
 Row(OFFER_ID='789725155', AREA_IN_M2='40.0', PRICE='2000.0', FEES='400.0', DATE='2022-10-20', FLOOR='2.0', DISTRICT='górczyn', FURNISHED='1.0', DEVELOPMENT_TYPE='Blok', NUMBER_OF_ROOMS='2.0'),
 Row(OFFER_ID='785001616', AREA_IN_M2='50.0', PRICE='2600.0', FEES='450.0', DATE='2022-10-20', FLOOR='3.0', DISTRICT='rataje', FURNISHED='1.0', DEVELOPMENT_TYPE='Blok', NUMBER_OF_ROOMS='2.0'),
 Row(OFFER_ID='772378679', AREA_IN_M2='32.0', PRICE='1800.0', FEES='300.0', DATE='2022-10-20', FLOOR='8.0', DISTRICT='naramowice', FURNISHED='1.0', DEVELOPMENT_TYPE='Blok', NUMBER_OF_ROOMS='2.0')]

In [11]:
df.printSchema()

root
 |-- OFFER_ID: string (nullable = true)
 |-- AREA_IN_M2: string (nullable = true)
 |-- PRICE: string (nullable = true)
 |-- FEES: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- FLOOR: string (nullable = true)
 |-- DISTRICT: string (nullable = true)
 |-- FURNISHED: string (nullable = true)
 |-- DEVELOPMENT_TYPE: string (nullable = true)
 |-- NUMBER_OF_ROOMS: string (nullable = true)

Reading all the features as the realtypes using inferSchema arg

In [12]:
df = session.read.option('header', 'true').csv(path_to_file, inferSchema=True)

In [13]:
df.printSchema()

root
 |-- OFFER_ID: integer (nullable = true)
 |-- AREA_IN_M2: double (nullable = true)
 |-- PRICE: double (nullable = true)
 |-- FEES: double (nullable = true)
 |-- DATE: timestamp (nullable = true)
 |-- FLOOR: double (nullable = true)
 |-- DISTRICT: string (nullable = true)
 |-- FURNISHED: double (nullable = true)
 |-- DEVELOPMENT_TYPE: string (nullable = true)
 |-- NUMBER_OF_ROOMS: double (nullable = true)

Another way of reading is:

In [14]:
df = session.read.csv(path_to_file, header=True, inferSchema=True)

in orther to get columns use .columns attribute on spark dataframe

In [17]:
df.columns

['OFFER_ID',
 'AREA_IN_M2',
 'PRICE',
 'FEES',
 'DATE',
 'FLOOR',
 'DISTRICT',
 'FURNISHED',
 'DEVELOPMENT_TYPE',
 'NUMBER_OF_ROOMS']

CHoosing one column

In [23]:
type(df.select('OFFER_ID'))

pyspark.sql.dataframe.DataFrame

Choosing two features:

In [25]:
df.select(['OFFER_ID', 'PRICE']).show()

+---------+------+
| OFFER_ID| PRICE|
+---------+------+
|783573846|2000.0|
|699182179|1900.0|
|789725155|2000.0|
|785001616|2600.0|
|772378679|1800.0|
|787778646|4500.0|
|780811960|2500.0|
|789097375|2600.0|
|778989502|2400.0|
|789887714|3400.0|
|789892195|2500.0|
|687054779|1700.0|
|789261200|2900.0|
|788632575|1800.0|
|784659004|3500.0|
|775652046|2600.0|
|773522801|5000.0|
|786777701|3500.0|
|785373210|2150.0|
|787834940|1400.0|
+---------+------+
only showing top 20 rows